@model TestForASPCORE.Models.Product
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="updateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" asp-for="id">
                <label asp-for="barCode" class="control-label"> Bar Code</label>
                <input asp-for="barCode" class="form-control" />
                <span asp-validation-for="barCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"> Product Name </label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryName" class="control-label"> Category</label>
                <select asp-for="categoryName" class="control-label" asp-items="@(new SelectList(@ViewBag.productData,"id","name"))">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success">Product Category List</a>
</div>

