
@{
    ViewData["Title"] = "Error";
}

<h4>Error!! Please check the data correctly if the error is caused when trying to delete  data which associted with other data</h4>
<hr/>
<div>
    <h5>Exception Message</h5>
    <hr/>
    <p>@ViewBag.exceptionMessage</p>
</div>



