@model TestForASPCORE.Models.Supplier

@{
    ViewData["Title"] = "Insert";
}

<h1>Insert Customer</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="insertCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Insert" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Supplier List</a>
            </div>
        </form>
    </div>
</div>
